.navigatorBar{
  display: flex;
  width: 100%;
  justify-content: space-around

  .NavBarList{
    flex: 1;
    min-width: 0;
    text-align: center;
    p{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}